# temporary files & directories
build/
gcndesign.egg-info/
dist/
test/

# directories may including huge data
dataset/

# test scripts
scripts/gcndesign_test.py

# python caches
**/__pycache__/**
**/*.pyc
